.App {
  text-align: center;
}

.blue-font{
  color: #5eaaa8;
}


.underline-font{
  text-decoration: underline
}

.scroll-button{
  background-color: #5eaaa8;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 20px
}

/* About me */

.aboutme-container{
  background-color: #f8f1f1;
  padding: 50px;
  line-height: 1.8rem;
  padding-bottom: 0px
}

#line{
  width: 26px;
}

.aboutme-container img{
  width: 15rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1
  }
}

/* .trying{
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
} */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* .trying2 {
  animation-name: slidein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
} */


/* Experience */

.experience-container .row{
  margin: 0px;
  padding: 0px
}

.iconTools-div {
  padding: 40px;
}

.textTools-div{
  padding: 50px;
  text-align: left;
  background-color:  #a3d2ca;

}

.textTools-container ul{
  text-align: left;
}

.experience-container img{
  width: 40px
}

.tools-container img{
  width: 70px;
  margin: 15px;
}

/* Projects */

.projects-container{
  background-color: #f8f1f1;
}

.projects-container h2{
  padding-top: 50px;
  padding-bottom: 30px;
  color: #5eaaa8;
  font-weight: bold;
}

.projects-container .card{
  padding: 10px;
  background-color:  #A3D2CA;
  border-radius: 12px;
}

.project-div .card-body{
  text-align: left;
}

.working-on{
  color: white; 
}

.project-div .card-buttons{
  text-align: center;
  margin-top: 20px
}

.card-img{
  border: 2px solid white;
  border-radius: 10px;
}

.card-buttons img{
  width: 25px
}

.live-button{
  background-color: white;
  color: black;
  border: none;
  border-radius: 7px;
  margin-right:10px;
}

.code-button{
  background-color: white;
  color: black;
  border: none;
  border-radius: 7px;
  margin-left:10px
}

/* Footer */

.text-muted{
  background-color: #5eaaa8;
  height: auto;
  padding-top:25px
}


.text-muted p{
  color: white
}

footer img{
  width:30px;
  margin: 8px
}